{%- doc -%}
  Renders the search action button.

  @param {string} [style] - The style of the search action.
  @param {string} [class] - Additional classes for the search action.
  @param {string} [display_style] - The display style ('icon' or 'text').

  @example
  {% render 'search', style: 'default', class: 'custom-class', display_style: 'icon' %}
{%- enddoc -%}

{% unless style == 'none' %}
  <search-button
    class="search-action{% if display_style == 'text' %} search-action--text{% endif %}{% if class != blank %} {{ class | strip }}{% endif %}"
  >
    <div class="search-action-mobile">
      <button
        on:click="#search-modal/showDialog"
        class="button-unstyled-mobile header-actions__action{% if display_style == 'text' %} header-actions__text-style{% endif %}"
        aria-label="{{ 'content.search_input_label' | t }}"
        aria-haspopup="dialog"
      >
        <span class="svg-wrapper {% if display_style != 'icon' %}desktop:hidden{% endif %}">
          <img
            width="25"
            height="25"
            src="{{'search-icon.svg' | asset_url }}"
            alt="Ícone de Lupa de pesquisa"
          >
        </span>
      </button>
      <div class="search-input-mobile" on:click="#search-modal/showDialog">
        <span class="content-search"> Ei, o que você está procurando? </span>
      </div>
    </div>
    <button
      on:click="#search-modal/showDialog"
      class="button-unstyled header-actions__action{% if display_style == 'text' %} header-actions__text-style{% endif %}"
      aria-label="{{ 'content.search_input_label' | t }}"
      aria-haspopup="dialog"
    >
      <span class="content-search">
        {{ 'content.search' | t }}
      </span>
      <span class="svg-wrapper {% if display_style != 'icon' %}desktop:hidden{% endif %}">
        <img
          width="25"
          height="25"
          src="{{'search-icon.svg' | asset_url }}"
        >
      </span>
    </button>
  </search-button>
{% endunless %}

{% stylesheet %}
  .search-action {
    --search-border-radius: var(--style-border-radius-inputs);
    --search-border-width: var(--style-border-width-inputs);
    width: 100%;
    height: 46px;
    background-color: #F1F1F1;
    border-radius: 12px;
    display: flex;
  }
  
  .search-action .button-unstyled {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0px 19px 0px 29px;
    border-radius: 12px;
  }

  .search-action .button-unstyled .content-search {
    font-weight: 400;
    font-size: 14px;
    color: #898989;
  }

  .search-action .button-unstyled img {
    width: 25px;
    height: 25px;
  }

  .search-action-mobile {
    display: none;
    position: relative;
    flex-direction: column;
  }

  .search-action-mobile .button-unstyled-mobile {
    background: none;
    border: none;
    padding: 10px; /* Aumenta a área de clique da lupa */
  }

  .search-action-mobile img {
    width: 20px;
  }

  /* --- MÁGICA DO APONTADOR (TRIÂNGULO) --- */
  .search-input-mobile {
    left: -44px; /* Isso pode variar dependendo do espaçamento do seu tema, ajuste se precisar */
    bottom: -47px; /* Afastado um pouco mais para caber o triângulo */
    position: absolute;
    background: #f1f1f1;
    width: 99vw; /* Full width */
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Alinhado à esquerda */
    padding: 4px 29px;
    border-radius: 4px;
    z-index: 2;
    cursor: pointer;
    margin-inline: 5px;
  }

  /* O Triângulo CSS apontando para cima */
  .search-input-mobile::before {
    content: "";
    position: absolute;
    top: -8px;
    left: 65px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #f1f1f1;
  }

  .search-input-mobile .content-search {
    font-weight: 400;
    font-size: 1rem;
    color: #898989;
    display: flex;
  }

  .search-input-mobile .custom-secondary-btn {
    background-color: #7C79E7;
    font-size: 12px;
    height: max-content;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 7px;
    position: absolute;
    right: 4px;
    border-radius: 4px;
  }

  @media screen and (max-width: 749px){
    .search-input-mobile{
      bottom: -59px;
    }
  }

  @media screen and (min-width: 751px){
    .search-input-mobile{
      height: 39px !important;
    }
  }


  @media screen and (max-width: 1000px) {
    .search-action {
      background: none !important;
      place-items: center;
    }

    .search-action .button-unstyled, 
    .search-action .content-search {
      display: none;
    }

    .search-action-mobile, .content-search {
      display: flex !important;
    }
  }

  @media screen and (min-width: 750px) {
    [data-menu-style='drawer'] .search-action--hidden-on-drawer {
      display: none;
    }

    [data-menu-style='menu'] .search-action--hidden-on-menu {
      display: none;
    }
  }

  [data-menu-style='menu'] .header__column--left .search-action {
    @media screen and (min-width: 750px) {
      margin-inline: calc(var(--padding-lg) * -1);
    }
  }

  .header__column--right .search-action {
    @media screen and (min-width: 750px) {
      margin-inline: calc(var(--gap-md) * -1) calc(var(--gap-xs) * -1);
    }
  }

  @media screen and (min-width: 750px) {
    .header__column--right .search-action--text {
      margin-inline: 0;
    }

    [data-menu-style='menu'] .header__column--left .search-action--text {
      margin-inline: 0;
    }
  }
{% endstylesheet %}